.contenedor{
display:grid;
place-items:center;
}

.lista1{
background: rgb(241, 241, 92);
border:black solid;
padding: 20px;
width: 500px;
height: 600px;
border-radius: 60px;
border-color: rgba(1, 1, 17, 0.582);
font-family: Arial, Helvetica, sans-serif;
}

.lista2{
background: #72a9dd;
list-style-type: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fieldset {
    width: 500px;
    border:10px solid;      
}




li{
    list-style-type: none;   
    
}

.miestilo{
    background-color: rgb(181, 217, 241);
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(12, 11, 17);
    width: 500;
    height: 100;
    padding: 10px;
    margin-top: 20px;    
}


.contenedorimagen{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
}
    
.headerestilo{
    text-align: center;
    font-style: arial;
    font-size: xx-large;
}